@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@font-face{
    src: url(/Resources/CHWDSH.TTF);
    font-family: main;
}
@font-face{
    src: url(/Resources/segoeui.ttf);
    font-family: secondaryFont;
}

* {
    margin: 0;
    padding: 0;
}

.splash {
    word-wrap: initial;
    display: flex;
    justify-content: center;
    align-items: center; 
    /* justify content used with align items aligns 
    everything vertically and horizontally*/
    overflow: hidden;
    color: #ffffff;
    height: 100vh;
    background: #ffda00;
}

.splash header {
    overflow: hidden;
    left: 0;
    position: relative;
    font-family: 'main';
    word-wrap: none;
    font-size: 250px;
}
