@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@font-face{
    font-family: 'One';
    src: url(/Resources/main.ttf) format('truetype');
}
@font-face{
    src: url(/Resources/second.ttf);
    font-family: secondaryFont;
}

* {
    margin: 0;
    padding: 0;
}

.splash {
    /* word-wrap: initial;
    display: flex;
    justify-content: center;
    align-items: center;  */
    /* justify content used with align items aligns 
    everything vertically and horizontally*/
    overflow: hidden;
    color: #ffffff;
    height: 100vh;
    background: #ffda00;
}

.splash header {
    font-family: Poppins;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 45%;
    position: absolute;
    font-size: 250px;
}

