@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@font-face{
    font-family: 'One';
    src: url(/Resources/main.ttf) format('truetype');
}
@font-face{
    src: url(/Resources/second.ttf);
    font-family: secondaryFont;
}

* {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.splash {
    /* word-wrap: initial;
    display: flex;
    justify-content: center;
    align-items: center;  */
    /* justify content used with align items aligns 
    everything vertically and horizontally*/
    color: #ffffff;
    height: 100vh;
    background: #ffda00;
    overflow: hidden;
}

.splash header {
    overflow: hidden;
    font-family: Poppins;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 45%;
    position: absolute;
    font-size: 250px;
}

.menu {
    color: #000;

    /* transform: translate(-50%, -50%); */
    /* position: absolute; */
}
.menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: row;
}
.menu ul li {
    margin: 1em;
}


/* Responsive */


@media (max-width:1280px) {
    .splash header {
         font-size: 167px;
    }
}

@media (max-width:770px) {
    .splash header {
         font-size: 100px;
    }
}

@media (max-width:450px) {
    .splash header {
         font-size: 54px;
    }
}
@media (max-width:380px) {
    .splash header {
         font-size: 49px;
    }
}