@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@font-face{
    src: url(/Resources/main.ttf);
    font-family: One;
}
@font-face{
    src: url(/Resources/second.ttf);
    font-family: secondaryFont;
}

* {
    margin: 0;
    padding: 0;
}

.splash {
    /* word-wrap: initial;
    display: flex;
    justify-content: center;
    align-items: center;  */
    /* justify content used with align items aligns 
    everything vertically and horizontally*/
    overflow: hidden;
    color: #ffffff;
    height: 100vh;
    background: #ffda00;
}

.splash header {
    transform: translate(-50%, -50%);
    overflow: hidden;
    left: 4.6em;
    top: 2.2em;

    position: relative;
    font-family: 'One';
    word-wrap: none;
    font-size: 223px;
}

